/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* General Styles */
body {
  font-family: "Hiragino Sans", sans-serif;
  color: #888;
  transition: color 0.3s ease;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: color 0.3s ease;
}
a:hover {
  color: #ddd;
}

h2 {
  color: #888;
  transition: color 0.3s ease;
}

/* Form Control */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  background-color: #000;
  background-clip: padding-box;
  border: 1px solid #000;
  border-bottom: 1px solid #888;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.form-control:focus {
  color: #888;
  background-color: #000;
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.form-control::placeholder {
  color: #888;
}
.text-success {
  color: #888 !important;
}

/* Button Styles */
.btn-success {
  background-color: #202020;
  border-color: #202020;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-success:hover {
  background-color: #363636;
  border-color: #363636;
  color: #fff;
}

/* Quill Editor Toolbar */
.ql-toolbar.ql-snow {
  background-color: #000;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-family: "Hiragino Sans", sans-serif;
  padding: 8px;
  transition: background-color 0.3s ease;
}
.ql-snow .ql-toolbar button:hover,
.ql-snow .ql-toolbar button:focus,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #fff;
  transition: color 0.3s ease;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0;
  background-color: #000;
  border-bottom: 1px solid #888;
  transition: background-color 0.3s ease;
}

/* Quill Editor Container */
.ql-container.ql-snow {
  background-color: #000;
  color: #888;
  transition: color 0.3s ease;
}

.ql-container.ql-snow {
  border: 1px solid #000;
}

/* Backgrounds and Text Colors */
.bg-dark {
  background-color: #000 !important;
  transition: background-color 0.3s ease;
}
.text-light {
  color: #888 !important;
  transition: color 0.3s ease;
}
.bg-secondary {
  background-color: rgba(0, 0, 0, 0.8) !important;
  transition: background-color 0.3s ease;
}
.list-group-item {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #888;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.list-group-item:hover {
  background-color: #000 !important;
  color: #ddd;
}

/* Modal Styles */
.modal-sidepeek {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: #000;
  color: #888;
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 1050;
  padding: 20px;
}
.modal-sidepeek.open {
  right: 0;
}
.modal-close-btn {
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}
.modal-close-btn:hover {
  color: #ddd;
}
