body {
  background-color: #000000; /* Xbox background color */
  color: #888; /* Xbox text color */
  padding: 20px;
  font-family: "Noto Sans JP", sans-serif; /* Modern font for consistency */
}

.container {
  max-width: 1000px;
  margin: auto;
  background-color: #000000; /* Dark Xbox color for container */
  padding: 20px;
  border-radius: 8px;
  color: #888;
}

h1 {
  color: #888; /* Xbox text color */
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.form-label {
  color: #888; /* Xbox text color */
}

.form-control {
  background-color: #000;
  color: #888;
  border: 1px solid #000;
  border-radius: 0.25rem; /* Add border-radius for consistency */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.form-control:focus {
  border-color: #4caf50; /* Xbox green border on focus */
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25); /* Xbox green shadow */
  background-color: #000000;
  color: #888;
}

.btn-primary {
  background-color: #333; /* Xbox dark color */
  border-color: #333;
  color: #f0f0f0; /* Ensure text color is visible */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.btn-primary:hover {
  background-color: #444; /* Slightly lighter on hover */
  border-color: #444;
}

.btn-secondary {
  background-color: #333; /* Xbox dark color */
  border-color: #333;
  color: #f0f0f0; /* Ensure text color is visible */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.btn-secondary:hover {
  background-color: #1e1e1e; /* Slightly lighter on hover */
  border-color: #1e1e1e;
}

.form-select {
  --bs-form-select-bg-img: url(
    data:image/svg + xml,
    %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 16 16"%3e%3cpathfill="none"stroke="%23343a40"stroke-linecap="round"stroke-linejoin="round"stroke-width="2"d="m2 5 6 6 6-6"/%3e%3c/svg%3e
  );
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888888;
  background-color: #000;
  background-image: var(--bs-form-select-bg-img);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #000000;
  border-radius: 0.25rem; /* Consistent border-radius */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* Smooth transition */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
