textarea.form-control {
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1c1c1e;
  background-color: #f2f2f7;
  background-clip: padding-box;
  border: #f2f2f7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  border-bottom-width: 0; /* Initially set border-bottom-width to 0 */
  transition: all 0.3s ease-in-out; /* Aplica la transición a todas las propiedades */
}

.form-control:focus {
  color: #1c1c1e;
  background-color: #f2f2f7;
  border-color: #f2f2f7;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #f2f2f7;
  border-bottom-width: 0.5px;
}

.form-control:hover {
  background-color: #f2f2f7;
  border-color: #f2f2f7;
  box-shadow: 0px 2px 5px #f2f2f7; /* Sombra suave */
}

.form-control:active {
  background-color: #f2f2f7;
  border-color: #f2f2f7; /* Fondo verde al hacer clic */
  color: #1c1c1e; /* Texto blanco */
  box-shadow: inset 0px 2px 5px #f2f2f7; /* Sombra interna */
}

body {
  font-family: "Hiragino Sans", sans-serif;
  background-color: #f2f2f7;
  color: #1c1c1e;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  color: #1c1c1e;
  display: flex;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

.form-container,
.list-container {
  background-color: #f2f2f7;
  color: #1c1c1e;
  border-radius: 8px;
  box-shadow: 0 0 10px #f2f2f7;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.form-container {
  margin-right: 20px;
}

.data-list {
  list-style-type: none;
  padding: 0;
}

.data-list-item {
  border-bottom: 1px solid #f2f2f7;
  padding: 10px;
  color: #1c1c1e;
  position: relative; /* Para posicionar los botones */
  transition: background-color 0.3s ease;
}

.data-list-item:last-child {
  border-bottom: none;
}

.data-list-item:hover {
  background-color: #f2f2f7;
}

.data-list-item .details {
  display: none; /* Ocultar detalles por defecto */
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #f2f2f7;
}

.data-list-item.open .details {
  display: block; /* Mostrar detalles al estar abierto */
}

.data-list-item .toggle-details {
  cursor: pointer;
  color: #1c1c1e;
}

.data-list-item .toggle-details:hover {
  color: #1c1c1e;
}

.form-title {
  background-color: #f2f2f7;
  color: #1c1c1e;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

/* Modal */
.modal-content {
  background-color: #f2f2f7;
  color: #1c1c1e;
}

.modal-header,
.modal-footer {
  border-color: #f2f2f7;
}

/* Search bar styles */
.search-bar {
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  border-bottom: 1px solid #1c1c1e;
}
.search-bar::placeholder {
  color: #1c1c1e;
}

label {
  color: #1c1c1e;
  display: inline-block;
}

a {
  color: #1c1c1e;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #1c1c1e;
  text-decoration: underline;
}

.data-item {
  border: 1px solid #f2f2f7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.data-item:hover {
  background-color: #f2f2f7;
}
.data-item h5 {
  margin: 0;
}
.data-item button {
  margin-right: 5px;
}
.search-container {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #1c1c1e;
}

.btn-primary:hover {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #ffffff;
}

.btn-primary:active {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f2f2f7;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f7;
}
.form-container,
.list-container {
  max-height: 80vh;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f2f2f7;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f7;
}

a:hover {
  color: #f2f2f7;
}
