/*AUTHENTICATION HTML*/

* {
  font-family: "montserrat", sans-serif;
  color: 1C1C1E;
}

#loginUsername {
  background-color: #f2f2f7;
  border: none;
  color: #1c1c1e;
}

#loginPassword {
  background-color: #f2f2f7;
  border: none;
  color: #1c1c1e;
}
#regUsername {
  background-color: #f2f2f7;
  border: none;
}

#regPassword {
  background-color: #f2f2f7;
  border: none;
}

#loginModal .modal-content {
  border: 1px solid #000;
}

#loginModal .modal-header {
  border-bottom: 1px solid #000;
}

#loginModal .modal-footer {
  border-top: 1px solid #000;
}

#loginModal .btn-close {
  filter: invert(1);
}

#loginModal .btn-secondary {
  background-color: #2c2c2e;
  border-color: #2c2c2e;
  color: #fff;
  text-align: center;
  align-items: center;
}

#loginModal .btn-secondary:hover {
  background-color: #004d00;
  border-color: #004d00;
  color: #fff;
  text-align: center;
  align-items: center;
}

#loginModal .btn-secondary:active {
  background-color: #004d00;
  border-color: #004d00;
  color: #fff;
  text-align: center;
  align-items: center;
}

#auth-page {
  background: linear-gradient(
    120deg,
    #c7c7c7,
    /* Gris claro */ #b3d1b3,
    /* Verde intermedio claro */ #a8d5a8,
    /* Verde claro adicional */ #8bbf8b,
    /* Verde suave */ #7aa27a,
    /* Verde intermedio */ #647c64,
    /* Verde oscuro */ #4f6d4f,
    /* Verde aún más oscuro */ #e5e5e5,
    /* Gris claro de transición */ #f2f2f7 /* Blanco claro */
  );
  background-size: 400% 400%;
  animation: gradientBackground 50s linear infinite; /* Duración ajustada a 50 segundos */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.auth-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f7; /* Añadido para contrastar con el fondo del auth-page */
  border-radius: 8px;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container button {
  background-color: #2c2c2e;
  border-color: #2c2c2e;
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 135px;
}

.auth-container button:hover {
  background-color: #004d00;
  border-color: #004d00;
  color: #fff;
  text-align: center;
  align-items: center;
}
.auth-container button:active {
  background-color: #004d00;
  border-color: #004d00;
  color: #fff;
  text-align: center;
  align-items: center;
}

.auth-container .signup-link {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.auth-container .signup-link a {
  color: #1c1c1e;
  font-size: 16px;
  text-decoration: none;
  font-style: bold;
}

.auth-container .signup-link a:hover {
  color: #004d00;
  font-size: 16px;
  font-style: bold;
  text-decoration: underline;
}

.form-container {
  display: none;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #c7c7c7;
  background-color: #c7c7c7;
  color: #888;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #888;
  outline: 0;
  background-color: #000;
  border-color: #000000; /* Color del borde al enfocar el input */
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); /* Sombra alrededor del input al enfocar */
}
/*AUTHENTICATION HTML*/

/*INDEX HTML*/

* {
  font-family: "montserrat", sans-serif;
  color: #1c1c1e;
}
.sidebar {
  width: 220px;
  padding: 15px;
}
.sidebar h2 {
  margin-top: 0;
  font-weight: 500;
  color: #1c1c1e;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px 20px;
}
.header h2 {
  margin: 0;
  font-weight: 500;
  text-shadow: 1px 1px 2px #1c1c1e;
}

.clock {
  font-size: 0.8em;
  text-align: center;
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.clock span {
  margin: 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin-bottom: 10px;
}

.indexbody {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #f2f2f7;
}

.box {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 30px auto;
  width: 80%;
  position: relative;
}
#navbar {
  padding: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}
#navbar ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #1c1c1e;
}
#navbar li {
  list-style: none;
}

#navbar a {
  color: #1c1c1e;
  transition: color 0.3s ease-in-out;
}
#navbar a:hover {
  color: #1c1c1e;
  background-color: #c7c7c7;
  text-decoration: underline; /* Aplica el subrayado solo al pasar el ratón */
  transform: scale(1.05);
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f2f2f7;
  list-style: none;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: var(--dropdown-box-shadow);
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: var(--dropdown-text-color);
  border-color: var(--dropdown-text-color);
  text-decoration: none;
  font-family: "Noto Sans", sans-serif; /* Fuente japonesa moderna */
  font-weight: 400; /* Peso de fuente ligero */
  letter-spacing: 0.5px; /* Pequeño espaciado entre letras */
}

.dropdown-menu a:hover {
  background-color: var(--dropdown-hover-background);
  color: #004d00;
  text-decoration: none;
}
.container {
  display: flex;
  margin: 20px auto;
  width: 80%;
  justify-content: center;
}
.main-content {
  flex: 3;
  padding: 30px;
  border-radius: 8px;
  line-height: 1.5;
}
.main-content a {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.main-content a:hover {
  color: #fff; /* Color de hover más sutil */
  text-decoration: underline;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-radius: 8px;
  color: #f2f2f2; /* Color de texto más suave */
}

.sidebar h2 {
  margin-top: 0;
  font-weight: 500;
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-link {
  display: block;
  padding: 6px;
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.btn-primary {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #1c1c1e;
}

.btn-primary:hover {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #ffffff;
}

.btn-primary:active {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  color: #ffffff;
}

/*END INDEX HTML*/

/* NEWS HTML*/
.column {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f7;
  border-radius: 8px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #f2f2f7;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f7;
}
.bodyNews {
  font-family: "Hiragino Sans", sans-serif; /* Fuente moderna japonesa */
  background-color: #000000; /* Fondo oscuro */
  color: #888; /* Color del texto más suave */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Altura completa de la ventana */
}
#editor-container {
  height: 300px;
  border: 1px solid #000;
  border-radius: 5px;
}
.news-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ocupa todo el espacio disponible */
  padding: 20px;
  gap: 20px;
  background-color: #f2f2f7;
}
.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
}

.side-peek {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 300px;
  height: 100%;
  background-color: #c7c7c7;
  color: #1c1c1e;
  box-shadow: -2px 0 5px rgba(102, 102, 102, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

/* Panel visible: movido a su posición dentro de la pantalla */
.side-peek.show {
  transform: translateX(0); /* Aparece desde la derecha */
}
/* Mostrar el side-peek */
.side-peek.show {
  transform: translateX(0);
}

/* Contenido del side-peek */
.side-peek-content {
  padding: 20px;
  color: white;
  height: auto; /* Ajustar automáticamente al contenido */
  overflow-y: auto; /* Habilitar scroll si el contenido excede la altura del contenedor */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho/alto */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .side-peek {
    max-width: 90%; /* Ancho mayor en pantallas más pequeñas */
  }
}

.close {
  cursor: pointer;
  font-size: 24px;
}

footer {
  background-color: #f2f2f7;
  color: #888;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}

.update-item {
  background-color: #c7c7c7; /* Fondo de la caja */
  border-radius: 6px; /* Bordes redondeados */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  padding: 15px; /* Espacio interior */
  position: relative; /* Posicionamiento relativo para el tipo */
  margin-bottom: 20px; /* Espacio inferior */
  cursor: pointer;
}

.update-title {
  font-size: 18px; /* Tamaño de fuente del título */
  font-weight: bold; /* Fuente en negrita */
  margin-bottom: 8px; /* Espacio inferior del título */
}

.update-preview {
  font-size: 12px; /* Tamaño de fuente para la vista previa */
  max-height: 60px; /* Altura máxima para la vista previa */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra "..." al final del texto truncado */
  white-space: nowrap; /* Impide el salto de línea */
  line-height: 1.5; /* Altura de línea para ajustar el espaciado */
}

.update-type {
  background-color: #c7c7c7; /* Fondo del tipo */
  border-radius: 5px; /* Bordes redondeados del tipo */
  padding: 2px 8px; /* Espacio interior del tipo */
  font-size: 14px; /* Tamaño de fuente del tipo */
  position: absolute; /* Posicionamiento absoluto */
  top: 15px; /* Espacio desde la parte superior */
  right: 15px; /* Espacio desde la parte derecha */
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background-color: #c7c7c7;
}

.form-control:focus {
  color: #1c1c1e;
  outline: 0;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.form-group {
  margin-bottom: 20px;
}

button#logUpdateButton {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

button#logUpdateButton:hover {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

button#openSidePeekButton {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

button#openSidePeekButton:hover {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

button#deleteUpdateButton {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

button#deleteUpdateButton:hover {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

/*END NEWS HTML*/

/* DOCS HTML*/
.form-control-xbox#documentation {
  height: 200px; /* Adjust the height as needed */
}
.form-control-xbox {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1c1c1e;
  background-color: #c7c7c7;
  background-clip: padding-box;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
:focus-visible {
  outline: #f2f2f7 auto 1px;
}

.xboxdocsbody {
  background-color: #f2f2f7; /* Light background with a hint of gray */
  color: #1c1c1e; /* Dark text for readability */
  margin: 0;
  padding: 0;
}
.xbox-container {
  margin-top: 20px;
  max-width: 2760px; /* Limit container width for responsiveness */
  margin: 0 auto; /* Center content horizontally */
}

/* Buttons */
.btn {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

.btn:hover {
  background-color: #c7c7c7; /* Slightly darker on hover */
}
.btn:active {
  background-color: #c7c7c7; /* Slightly darker on hover */
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #1c1c1e;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #1c1c1e;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  box-shadow: 0 0 0 0.2rem #c7c7c7;
}

.btn-warning {
  border: none;
  cursor: pointer;
  background-color: #c7c7c7;
  color: #1c1c1e;
}

.btn-warning:hover {
  background-color: #c7c7c7; /* Slightly darker on hover */
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  cursor: pointer;
  margin-right: 15px;
}

.card-body-docs {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  background-color: #c7c7c7;
  cursor: pointer;
  margin-right: 15px;
}

.modal-content {
  background-color: #c7c7c7; /* White background for modals */
  border: none; /* Remove default modal border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px #c7c7c7; /* Subtle shadow */
  height: 100vh; /* Set height to 100% of viewport height */
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Arrange content vertically */
}

.modal-header,
.modal-footer {
  padding: 10px 16px; /* Consistent padding within modals */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Light border for separation */
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none;
}

.modal .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
}
div#documentation {
  height: 250px;
}
:focus-visible {
  outline: #c7c7c7 auto 0px;
}

input#searchInput {
  align-items: center;
  text-align: center;
  width: 400px;
  margin: 20px;
  padding: 20px;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  box-shadow: 0 0 0 0.2rem #c7c7c7;
}

/* FMA Scenarios HTML*/
.container-fma {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header-fma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #c7c7c7;
  color: #1c1c1e;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0px 2px 4px #c7c7c7;
}
#homeButton {
  padding: 10px 20px;
  border: none;
  margin-top: 30px;
  border-radius: 5px;
  background-color: #c7c7c7;
  color: #1c1c1e;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
}
#homeButton:hover {
  background-color: #c7c7c7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

th,
td {
  padding: 12px;
  border: none;
}

th {
  color: #1c1c1e;
  text-align: left;
}

tr.title-row {
  background-color: rgba(255, 255, 255, 0.1);
  color: #1c1c1e;
  font-weight: bold;
  text-align: left;
}

td {
  color: #1c1c1e;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.02); /* Aumenta ligeramente el tamaño */
  transition: all 0.2s ease-in-out;
}
.body-fma {
  background-color: #f2f2f7;
  color: #1c1c1e;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}
/* END FMA Scenarios HTML*/

/* QA HTML*/

#reviewModal {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #f2f2f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 40px;
  z-index: 1000;
  overflow-y: auto;
}
#reviewModal.show {
  display: block;
}
.review-item {
  border-bottom: none;
  padding: 7px 0px;
  margin-top: 31px;
  background-color: #c7c7c7;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  cursor: pointer;
}
button:not(:disabled) {
  cursor: pointer;
  border: none;
}
.review-item:hover {
  background-color: #c7c7c7; /* Slightly darker background on hover */
}
.review-title {
  font-size: 18px; /* Increase title size for emphasis */
  font-weight: bold;
}
#reviewModal.show {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-button::after {
  transform: rotate(-45deg);
}
.container-qa {
  /* display: flex; */
  margin: 20px auto;
  width: 80%;
  justify-content: center;
}
.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 5px;
}
/* END QA HTML*/

/* SUBMISSION MANAGER HTML*/
.table-dark {
  --bs-table-color: #1c1c1e;
  --bs-table-bg: #c7c7c7;
  --bs-table-border-color: #c7c7c7;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
  width: 650px;
}

/* SUBMISSION MANAGER HTML*/

/* TRACKER DETAILS HTML*/

container-formTitle {
  flex-direction: column;
}

form#trackerForm {
  margin: 50px;
}

container-trackerDetails {
  max-width: 1500px;
  margin: auto;
  background-color: #f2f2f7; /* Fondo ligeramente más claro para el contenedor */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.testcase {
  margin-bottom: 15px;
}
.testcase-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f7; /* Fondo más claro para filas */
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: #1c1c1e;
}
.testcase-row:hover {
  background-color: #f2f2f7;
  transform: translateY(-2px);
  color: #1c1c1e;
}
.testcase-row label {
  flex: 1;
  color: #1c1c1e; /* Color de texto más claro */
  margin-right: 10px;
}
.testcase-row input,
.testcase-row select,
.testcase-row .tester-name {
  flex: 2;
  margin: 2px;
  padding: 8px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background-color: #c7c7c7;
  color: #1c1c1e;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}
.testcase-row input:focus,
.testcase-row select:focus {
  border-color: #444;
  box-shadow: 0 0 5px #c7c7c7; /* Sombra verde para enfoque */
}
.no-test-cases {
  color: #b0b0b0; /* Texto claro para mensaje sin casos de prueba */
  text-align: center;
}
.filter-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.filter-container select {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  background-color: #c7c7c7;
  color: #1c1c1e;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.filter-container select:focus {
  border-color: #444;
  box-shadow: 0 0 5px #c7c7c7;
}

/* TRACKER DETAILS HTML*/

.container-labDistribution {
  display: flex;
  margin: 10px 20px;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

/* TICKETS HTML*/

.container-tickets {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.form-column,
.tickets-column {
  width: 48%;
}

.ticket-item {
  background-color: #c7c7c7;
  color: #1c1c1e;
  margin-top: 30px;
  padding: 10px;
  border: #c7c7c7;
  border-bottom: #c7c7c7;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.ticket-item {
  background-color: #c7c7c7;
  color: #1c1c1e;
  padding: 10px;
  border: #c7c7c7;
  border-bottom: #c7c7c7;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ticket-item:hover {
  background-color: #f2f2f7; /* Cambiar color de fondo al pasar el ratón */
  transform: scale(1.05);
  opacity: 0.8;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #c7c7c7;
  color: #1c1c1e;
}

.modal-header,
.modal-footer {
  background-color: #c7c7c7;
}

/* Estilo para el panel lateral (side peek) */
.side-peek {
  position: fixed;
  top: 0;
  right: -100%;
  width: 500px;
  height: 100%;
  background-color: #c7c7c7;
  color: #1c1c1e;
  box-shadow: -2px 0 5px rgba(102, 102, 102, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.side-peek.show {
  right: 0;
}

/* Estilo del encabezado del panel lateral */
.side-peek-header {
  background-color: #c7c7c7;
  padding: 10px;
  border-bottom: #c7c7c7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-peek-header button {
  background: none;
  border: none;
  color: #1c1c1e;
  font-size: 20px;
  cursor: pointer;
}

/* END TICKETS HTML*/

.bg-dark {
  background-color: #f2f2f7 !important;
}
.bg-secondary {
  background-color: #f2f2f7 !important;
}
/* Modal Styles */
.modal-sidepeek {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 30%;
  background-color: #c7c7c7;
  display: flex;
  color: #1c1c1e;
  overflow-y: auto;
  transition: right 0.5s ease;
  z-index: 1050;
  padding: 20px;
}
.modal-sidepeek.open {
  right: 0;
}
.modal-close-btn {
  color: #1c1c1e;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 7px;
}
.modal-close-btn:hover {
  color: #1c1c1e;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  background-color: #c7c7c7;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #c7c7c7;
  border: 1px solid #c7c7c7;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #c7c7c7;
  border: 1px solid #c7c7c7;
}
input#searchInput {
  align-items: center;
  text-align: center;
  width: 400px;
  margin: 20px;
  padding: 20px;
  margin-top: 54px;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;
  color: #1c1c1e;
  text-decoration: none;
  background-color: #c7c7c7;
}

container-comments {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.form-control:disabled {
  background-color: #c7c7c7;
  opacity: 1;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.333333%;
}
input#searchInput {
  align-items: center;
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 20px;
  margin-top: 54px;
}
a.contact-email {
  font-weight: bold;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease; /* Transición de color y transformación */
}

a.contact-email:hover {
  color: blue;
  transform: scale(
    1.1
  ); /* Aumenta ligeramente el tamaño del enlace al hacer hover */
}
