body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.row {
  --bs-gutter-x: 25.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.table-dark {
  --bs-table-color: #888;
  --bs-table-bg: #000000;
  --bs-table-border-color: #000000;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
  width: max-content;
}

.btn {
  background-color: #1e1e1e;
  color: #888;
  border: none;
  padding: 4px 8px; /* Reduce el padding */
  border-radius: 2px; /* Reduce el border-radius */
  font-weight: bold;
  font-size: 12px; /* Reduce el tamaño de la fuente */
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.modal.side-peek .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.modal.side-peek.show .modal-dialog {
  transform: translateX(0);
}

.modal.side-peek .modal-content {
  height: 100%;
  border-radius: 0;
}

.test-case {
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #333; /* Línea divisoria entre los objetos */
  color: #fff; /* Color del texto */
}

.test-case h6 {
  margin: 0;
  font-size: 16px;
}

.test-case .tester-name {
  color: #fff; /* Color del nombre del tester */
}

.test-case p {
  margin: 5px 0;
}
