/* Estilo global para el cuerpo */
body {
  background-color: rgb(0, 0, 0);
  color: #888;
  padding: 20px;
  font-family: "Hiragino Sans", sans-serif;
  font-size: 12px;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
}

/* Columnas del contenedor */
.form-column,
.tickets-column {
  width: 48%;
}

/* Estilo de las cajas */
.box {
  background-color: #000000;
  color: #888;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* Estilo de los campos de formulario */
.form-control {
  background-color: #000000;
  color: #888;
  border: 1px solid #000000;
  border-radius: 4px; /* Añadir bordes redondeados */
  padding: 0.375rem 0.75rem;
  transition: all 0.3s ease; /* Transición para cambios de estado */
}

.form-control:focus {
  background-color: #000000;
  color: #888;
  border-color: #000000;
  box-shadow: none;
}

/* Estilos de los botones */
.btn-primary,
.btn-secondary,
.btn-danger {
  background-color: #202020;
  border-color: #202020;
  color: #fff; /* Asegura el color de texto blanco en los botones */
  border-radius: 4px; /* Bordes redondeados para los botones */
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones para cambios de estado */
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover {
  background-color: #363636;
  border-color: #363636;
}

/* Estilo de los elementos de la lista de tickets */
.ticket-item {
  background-color: #000000;
  color: #888;
  padding: 10px;
  border: 1px solid #000000;
  border-bottom: 1px solid #888;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out; /* Transición para efectos hover */
}

.ticket-item:hover {
  background-color: #333333; /* Cambiar color de fondo al pasar el ratón */
  transform: scale(1.05);
  opacity: 0.8;
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #000000;
  color: #888;
}

.modal-header,
.modal-footer {
  background-color: #000000;
}

/* Estilo para el panel lateral (side peek) */
.side-peek {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background-color: #000000;
  color: #888;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  overflow-y: auto;
}

.side-peek.show {
  right: 0;
}

/* Estilo del encabezado del panel lateral */
.side-peek-header {
  background-color: #000000;
  padding: 10px;
  border-bottom: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-peek-header button {
  background: none;
  border: none;
  color: #888;
  font-size: 20px;
  cursor: pointer;
}
